<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>DUENOMASCOTA</h1>
<form th:action="@{/logout}" method="post" class="mt-3">
    <button type="submit" class="w-full flex items-center justify-center gap-2 px-3 py-2 rounded-lg text-red-600 hover:bg-red-50 hover:text-red-800 transition-colors text-sm font-medium">
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h6a1 1 0 011 1v2H4v8h7v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM13 7l5 3-5 3V7z" clip-rule="evenodd"/>
        </svg>
        Cerrar sesión
    </button>
</form>
</body>
</html>