<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="menuV" class="header">
    <div class="container-m">
        <div class="btn-menu">
            <label for="btn-menu">☰</label>
        </div>
        <div class="logo">
            <h1>SCM</h1>
        </div>
        <nav class="menu">
            <a href="#seccion1">Profesionales</a>
            <a href="#seccion2">Mascotas</a>
            <a href="#seccion3">Contáctanos</a>
        </nav>
    </div>
</header>


</body>
</html>
